# Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

In [77]:
players= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players = sorted(players, key=lambda x: x[1],reverse=False)
print(sorted_players)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [76]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x:x**2,list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

In [79]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(map(lambda x:str(x),list1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [98]:
from functools import reduce

alist=[]
def get_list():
    for i in range(1,26):
        alist.append(i)
    return alist


reduce(lambda a,b:a*b, get_list())

15511210043330985984000000

# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

In [110]:
data = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x : (x%2==0) or (x%3==0), data))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

In [112]:
lan = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda a: a[::-1]==a,lan))

['php', 'aba', 'radar', 'level']